<tr>
    <th>Nama</th>
    <th>NIM</th>
    <th>Tanggal dan Tempat Lahir</th>
    <th>Telepon Orang Tua/Wali</th>
    <th>Action</th>
</tr>

<% @datas.each do |data| %>
    <tr>
    <td><%= data.name %></td>
    <td><%= data.nim %></td>
    <td><%= " #{data.place_birth} #{data.date_birth}" %></td>
    <td><%= data.parent_phone %></td>
    <td>
        <%= link_to raw('<i class="fa fa-search"></i> Show'), mahasiswa_path(data), class: "btn btn-box-tool btn-default" %>
        <%= link_to raw('<i class="fa fa-pencil"></i> Edit'), edit_mahasiswa_path(data), class: "btn btn-box-tool btn-default" %>
        <%= link_to raw('<i class="fa fa-remove"></i> Destroy'), mahasiswa_path(data), class: "btn btn-box-tool btn-default" , 
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    </td>
    </tr>
<% end %>