<%= form_for @data do |f| %>
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :nim %>
                <%= f.text_field :nim, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :date_birth %>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <%= f.text_field :date_birth, class: "form-control pull-right" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :place_birth %>
                <%= f.text_field :place_birth, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :parent_phone %>
                <%= f.telephone_field :parent_phone, class: "form-control" %>
            </div>
        </div>
    </div>

</div>
<!-- /.box-body -->

<div class="box-footer">
<!--<button type="submit" class="btn btn-default">Cancel</button>-->
<button type="submit" class="btn btn-info pull-right">Submit</button>
</div>

<% end %>