<div class="box box-widget widget-user-2">
    <div class="box-header with-border">
        <h3 class="box-title">Data Detail Mata Pelajaran</h3>

        <div class="box-tools pull-right">
        <%= link_to raw('<i class="fa fa-list"></i> List'), mahasiswas_path, class: "btn btn-box-tool btn-default" %>
        <%= link_to raw('<i class="fa fa-plus"></i> Add New'), new_mahasiswa_path, class: "btn btn-box-tool btn-default" %>
        <%= link_to raw('<i class="fa fa-pencil"></i> Edit'), edit_mahasiswa_path(@data), class: "btn btn-box-tool btn-default" %>
        <%= link_to raw('<i class="fa fa-remove"></i> Destroy'), mahasiswa_path(@data), class: "btn btn-box-tool btn-default" , 
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    
        </div>
    </div>
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header">
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username"><%= @data.name %></h3>
        <h5 class="widget-user-desc"><%= @data.id %></h5>
    </div>
    <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
        <li><a href="#">Created Date <span class="pull-right"><%= @data.created_at %></span></a></li>
        <li><a href="#">Last Modified <span class="pull-right"><%= @data.updated_at %></span></a></li>
         </ul>
    </div>
</div>

<div class="row">
      <div class="col-xs-12">
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">Kelas yang diikuti</h3>
              </div>
  
              <div class="box-body table-responsive no-padding">
                  <table class="table table-hover" id="table_pertemuan">
                      <tr>
                          <th rowspan="2" style="text-align:center;vertical-align:middle">Nama</th>
                          <th rowspan="2" style="text-align:center;vertical-align:middle">Tahun Ajaran</th>
                          <th style="text-align:center" colspan="5">Nilai</th>
                          <th rowspan="2" style="text-align:center;vertical-align:middle">% Absensi</th>
                      </tr>
                      <tr>
                        <th>Kuis</th>
                        <th>Tugas</th>
                        <th>UTS</th>
                        <th>UAS</th>
                        <th>Nilai Akhir</th>
                      </tr>
                      
                    <% 
                        total_nilai=0
                        total_sks=0
                    %>
                    <% @list_kelas.each do |row| 
                        total_sks+=row.kelas_rel.sks 
                        total_nilai+= (row.total_nilai * row.kelas_rel.sks)
                    %>
                        <tr class="accordion-toggle">
                            <td><%= row.kelas_rel.nama %></td>
                            <td><%= row.kelas_rel.tahun_ajaran %></td>
                            <td><%= row.quiz %></td>
                            <td><%= row.tugas %></td>
                            <td><%= row.uts %></td>
                            <td><%= row.uas %></td>
                            <td><%= row.total_nilai %></td>
                            <td></td>
                        </tr>
                    <% end %>

                    <tr>
                        <td>

                        </td>
                    </tr>
                  </table>
              </div>
          </div>
      </div>
  </div>