<p id="notice"><%= notice %></p>

<p>
  <strong>Dosen:</strong>
  <%= @kela.dosen_id %>
</p>

<p>
  <strong>Mata pelajaran:</strong>
  <%= @kela.mata_pelajaran_id %>
</p>

<p>
  <strong>Tahun ajaran:</strong>
  <%= @kela.tahun_ajaran %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @kela.nama %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @kela.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @kela.updated_by %>
</p>

<%= link_to 'Edit', edit_kela_path(@kela) %> |
<%= link_to 'Back', kelas_path %>
