<div id="form_app">
  <div class="box box-widget widget-user-2">

      <input type="hidden" id="kelas_id" value="<%= @kela.id %>">
      <div class="box-header with-border">
          <h3 class="box-title">Data Detail Kelas</h3>

          <div class="box-tools pull-right">
          <%= link_to raw('<i class="fa fa-list"></i> List'), kelas_path, class: "btn btn-box-tool btn-default" %>
          <%= link_to raw('<i class="fa fa-plus"></i> Add New'), new_kela_path, class: "btn btn-box-tool btn-default" %>
          <%= link_to raw('<i class="fa fa-pencil"></i> Edit'), edit_kela_path(@kela), class: "btn btn-box-tool btn-default" %>
          <%= link_to raw('<i class="fa fa-child"></i> Absensi'), "absensi/"+@kela.id.to_s, class: "btn btn-box-tool btn-default" %>
          <%= link_to raw('<i class="fa fa-remove"></i> Destroy'), kelas_path(@kela), class: "btn btn-box-tool btn-default" , 
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </div>
      </div>
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header">
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username"><%= @kela.nama %></h3>
          <h3 class="widget-user-username"><%= @kela.dosen_rel.name %></h3>
          <h5 class="widget-user-desc"><%= @kela.mata_pelajaran_rel.name %></h5>
          <h5 class="widget-user-desc"><%= @kela.tahun_ajaran %></h5>
      </div>
      <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
          <li><a href="#">Created Date <span class="pull-right"><%= @kela.created_at %></span></a></li>
          <li><a href="#">Last Modified <span class="pull-right"><%= @kela.updated_at %></span></a></li>
          </ul>
      </div>
  </div>


  <div class="row">
      <div class="col-xs-12">
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">Daftar Pertemuan</h3>
              </div>
  
              <div class="box-body table-responsive no-padding">
                  <table class="table table-hover" id="table_pertemuan">
                      <tr>
                          <th>Pertemuan ke</th>
                          <th>Tanggal</th>
                          <th>Materi</th>
                          <th>Keterangan</th>
                      </tr>
                      
                      <tr v-for="row in pertemuan" data-toggle="collapse" :data-target="row.id" class="accordion-toggle">
                          <td>{{ row.pertemuan_ke }}</td>
                          <td>{{ row.tanggal }}</td>
                          <td>{{ row.materi }}</td>
                          <td>{{ row.keterangan }}</td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">Daftar Mahasiswa</h3>
              </div>
  
              <div class="box-body table-responsive no-padding">
                  <span><i>Ket absensi: Masuk=1, Izin/sakit=2, Tanpa Keterangan=3</i></span>
                  <table class="table table-hover" id="table_data">
                      <tr>
                          <th rowspan="2" style="vertical-align:middle">Name</th>
                          <th rowspan="2" style="vertical-align:middle">NIM</th>
                          <th style="text-align:center" colspan="4">Nilai</th>
                          <th style="text-align:center" :colspan="pertemuan.length">Absensi</th>
                          <th rowspan="2" style="vertical-align:middle">% Absensi</th>
                      </tr>
                      <tr>
                        <th>Kuis</th>
                        <th>UTS</th>
                        <th>UAS</th>
                        <th>Tugas</th>
                        <th v-for="row in pertemuan">{{ row.pertemuan_ke }}</th>
                      </tr>
                      <tr v-for="(row, index) in mahasiswa_rel" data-toggle="collapse" :data-target="row.id" class="accordion-toggle">
                            <td>{{ row.mahasiswa_rel.name }}</td>
                            <td>{{ row.mahasiswa_rel.nim }}</td>
                            <td>{{ row.quiz }}</td>
                            <td>{{ row.uts }}</td>
                            <td>{{ row.uas }}</td>
                            <td>{{ row.tugas }}</td>
                            <td v-for="row2 in pertemuan">{{ row['abs'+row2.pertemuan_ke] }}</td>
                            <td>{{ percentageAbs(index) }} %</td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

<%= javascript_include_tag 'kelas'%>