<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header"><%= t('navigation.header') %></li>
        
        <li class="treeview">
          <%= link_to raw('<i class="fa fa-dashboard"></i> Dashboard'), nilais_path %>
        </li>

        <% if current_user.level_access == "admin" %>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-envelope-o"></i> <span>Master Data</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="treeview"><%= link_to raw('Grades'), grades_path %></li>
            </ul>
          </li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-envelope-o"></i> <span>SMS</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="treeview"><%= link_to raw('Antrian SMS'), outbox_path %></li>
              <li class="treeview"><%= link_to raw('SMS Terkirim'), sentitem_path %></li>
            </ul>
          </li>

          <li class="treeview">
            <%= link_to raw('<i class="fa fa-book"></i> Mata Kuliah'), mata_pelajarans_path %>
          </li>

          <li class="treeview">
            <%= link_to raw('<i class="fa fa-group"></i> Dosen'), dosens_path %>
          </li>

         <% end %>

        <li class="treeview">
          <%= link_to raw('<i class="fa fa-graduation-cap"></i> Mahasiswa'), mahasiswas_path %>
        </li>

        <li class="treeview">
          <%= link_to raw('<i class="fa fa-cube"></i> Kelas, Kehadiran dan Nilai'), kelas_path %>
        </li>

        <% if current_user.level_access == "admin" %>
          <li class="treeview">
            <%= link_to raw('<i class="fa fa-child"></i> User'), users_path %>
          </li>
         <% end %>

        <li class="treeview">
          <%= link_to raw('<i class="fa fa-sign-out"></i> Sign Out'), destroy_user_session_path, method: :delete %>
        </li>
       </ul>
    </section>
    <!-- /.sidebar -->
  </aside>