<!DOCTYPE html>
<html>
  <head>
    <title>SIMKET</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-box-body">
      <% unless notice.nil? %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% unless alert.nil? %>
        <div class="alert alert-warning"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
</body>
</html>
